<!DOCTYPE HTML>
<html>

<head>
    <title>Flask-SocketIO Test</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
          namespace = '/test';
          var socket = null;
        $('form#emit').hide();
          $('form#emit').submit(function(event) {
              socket.emit('my_event', {value: $('#emit_value').val()});
              return false; });
          
          $("#button").click(function(){
            vec = $("#button");
            if(vec.val() == "start"){
                        $('form#emit').show();
                socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
                socket.on('connect', function() {
                    socket.emit('my_event', {data: 'I\'m connected!', value: 1});
                });
    
                socket.on('my_response', function(msg) {
                    console.log(msg.data);
                    if(msg.data == "Connected" || msg.data == "Disconnected"){
                        $("#log").append(msg.data+"<br>");                        
                    }else if(msg.ampl == 1){
                        $("#log").append("Amplituda: "+msg.data+"<br>");                        
                    }else{
                        $('#log').append('x: '+msg.count+' \ty:'+msg.data+'<br>').html();
                    }
               });
                vec.val("stop")
                vec.text("Stop");
            }else{
                $('form#emit').hide();
                socket.emit('disconnect_request');
                vec.val("start");
                vec.text("Start");
            }
          })
        });
    </script>
</head>

<body>
    <h1>Flask-SocketIO Test</h1>
    <form id="emit" method="POST" action='#'>
        <h2>Send:</h2>
        <input type="text" name="emit_value" id="emit_value" placeholder="Amplituda">
        <input type="submit" value="Send">
    </form>
    <button id="button" value="start">Start</button>
    <h2>Receive:</h2>
    <div id="log"></div>
</body>

</html>